body {
  margin: 0;
  text-align: center;
}

h1 {
  margin-top: 50px;
  margin-bottom: 0px;
  font-family: "Parisienne", sans-serif;
  font-size: 75px;
  font-weight: lighter;
  color: #fd9a24;
}

.job {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: "DM Mono", sans-serif;
  font-size: 20px;
  color: #fd9a24;
}

.top-container {
  /* background-color: #E4F9F5; */
  background-color: #ffe083;
  position: relative;
  padding-top: 120px;
}

.profile-img {
  width: 80px;
  background-color: #fafafa;
  border-radius: 50px;
  position: absolute;
  left: 10%;
  top: 40px;
}

.pro {
  text-decoration: underline;
}

.top-cloud {
  width: 150px;
  position: absolute;
  /* right: 300px;
    top: 50px; */
  rigth: 80px;
  top: 100px;
}

.bottom-cloud {
  width: 120px;
  position: absolute;
  /* left: 300px;
    bottom: 300px; */
  right: 80%;
  top: 300px;
}

/* @media (max-width: 750px) {
    .bottom-cloud {
        left: 5%;
    }
    .top-cloud {
        right: 5%;
    }

} */

.mountain {
  width: 600px;
  display: block;
  margin: 0 auto;
}

h2 {
  font-family: "Baloo Chettan 2", sans-serif;
  color: #fd9a24;
}

p {
  font-family: "DM Mono", sans-serif;
  font-size: 17px;
  color: rgb(143, 138, 138);
}

.logo {
  width: 100px;
}

.middle-container {
  background-color: #fafafa;
  padding-top: 30px;
}

.profile {
  padding-bottom: 20px;
}

.profile2-img {
  width: 80px;
  background-color: #b2ebf2;
  border-radius: 50px;
}

@media (max-width: 600px) {
  .mountain {
    width: 100%;
  }
}
